*{
    margin: 0;
    padding: 0;
}

h1, h4{
    text-align: center;
}

.showCamp{
    display: flex;
    margin-top: 2%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}
.card{
    margin: 1em 2em;
    padding: 2%;
    border-radius: 25px;
    background-color: rgb(227, 81, 81);
    color: white;
    border: 3px solid red;
    width: 20em;
    height: 16em;
}
.btn{
    background-color: white;
    width: 6em;
    border-radius: 5px;
}