*{
    margin: 0;
    padding: 0;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(211, 123, 123);
}
.navigation i{
    color: red;
    font-size: 8em;
    margin-right: 1%;
}
.navigation h1{
    color: white;
}

.payment{
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.payment form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}
.formitems{
    margin: 2%;

}
.inputbox{
    border-width:0;
    border-bottom: 2px solid red;
}
#qrcode{
    width: 9em;
    height: 9em;
}